.home-container {
    font-family: 'Arial', sans-serif;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #fdd1a5;
}

.hero-content {
    max-width: 50%;
}

.hero-subtitle {
    font-size: 16px;
    color: #ff6600;
    margin-bottom: 10px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #1a3b5d; /* Azul Escuro */
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-description {
    font-size: 18px;
    color: #333333;
    margin-bottom: 30px;
    line-height: 1.6;
}

.services-tags span {
    display: inline-block;
    margin-right: 15px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #1a3b5d;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form Container */
.form-container {
    background-color: #1a3b5d; /* Azul Escuro */
    color: white;
    padding: 40px 30px;
    border-radius: 10px;
    width: 400px;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container form input,
.form-container form select,
.form-container form textarea {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.form-container form textarea {
    height: 80px;
}

.form-container form button {
    padding: 12px;
    font-size: 16px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container form button:hover {
    background-color: #e65c00; 
}

.form-disclaimer {
    font-size: 12px;
    color: #ccc;
    text-align: center;
    }

.form-disclaimer a {
    color: #ff6600;
    text-decoration: none;
}

.form-disclaimer a:hover {
    text-decoration: underline;
}


/* Stats Section */
.stats {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
}

.stats div {
    flex: 1;
    padding: 0 10px;
}

.stats h3 {
    font-size: 24px;
    color: #1a3b5d;
    margin-bottom: 10px;
}

.stats p {
    font-size: 16px;
    color: #666;
}

/* Services Section */
.services {
    padding: 50px;
    background-color: #fff7e6;
    text-align: center;
}

.services h2 {
    font-size: 28px;
    color: #1a3b5d;
    margin-bottom: 20px;
}

.services p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.services-list {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.services-list div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #1a3b5d;
    transition: transform 0.3s, box-shadow 0.3s;
}

.services-list div:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}  

/* Sponsors Carousel */
.sponsors-carousel {
    padding: 30px 20px; 
    background-color: #f7f9fc;
    text-align: center;
}

.sponsors-carousel h2 {
    font-size: 28px;
    color: #1a3b5d;
    margin-bottom: 20px;
}

.swiper-container {
padding: 10px 0;
}

.sponsor-logo {
    width: 120px; 
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.sponsor-logo:hover {
    transform: scale(1.1);
}